<div class="container">
  <div class="row">
    <div class="col">
      <ul class="list-inline">
        <% Reaction.kinds.each do |kind| %>
          <li class="list-inline-item">
            <span class="badge badge-secondary">
              <span class="text-dark" style="color: white;">
                <% reaccion = case kind
                  when 'like' 
                    'Me gusta'
                  when 'dislike'
                    'No me gusta'
                  when 'funny'
                    'Gracioso'
                  when 'angry'
                    'Me enoja'
                  else
                    kind
                end %>
                <%= @publication.reactions.where(kind: kind).count %> <%= reaccion %>
              </span>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>





