body{
  background-color: rgb(31, 37, 42);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
footer {
  background-color: rgb(31, 37, 42);
}

.navbar {
  background-color: black;
  color: aliceblue;
  height: 120px;

}
.container {
  flex-grow: 1; /* Hace que el contenido crezca para llenar el espacio restante */
}
.custom-card {
  max-width: 600px;
}
